
  
  .faqs .faq {
    margin: 15px;
    padding: 15px;
   
    border-radius: 10px;
  }
  
  .faqs .faq .faq-question {
    position: relative;
    font-size: 20px;
    padding-right: 80px;
    transition: all 0.4s ease;
  }
  
  .faqs .faq .faq-question::after {
    content: "+";
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: white; /* Set the background color to white */
    color: black;
    border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
  }
  
  .faqs .faq .faq-answer {
    opacity: 0.5;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease;
  }
  
  .faqs .faq.open .faq-question {
    margin-bottom: 15px;
  }
  
  .faqs .faq.open .faq-question::after {
    content: "-";
  }
  
  .faqs .faq.open .faq-answer {
    max-height: 1000px;
    opacity: 1;
  }