@tailwind base;
@tailwind components;
@tailwind utilities;



.fade-border {
  
  display: block;
  border: none;
  color: white;
  height: 1px;
  background: black;
  background: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    550,
    from(#615076),
    to(#01031300)
  );
}

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: white;

  /* Create the gradient. */
  background-image: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    550,
    from(#ffffff),
    to(#615076)
  );

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -moz-text-fill-color: transparent;
}

.gradient-text-2 {
  background: rgb(175,152,203);
  background: linear-gradient(90deg, rgba(175,152,203,1) 0%, rgba(255,255,255,1) 50%, rgba(175,152,203,1) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.hero-background {
  background-image: url("/public/images/background-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 50%;
    
}


.violet-background {
  background-image: url("/public/images/violet-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.violet-background2 {
  background-image: url("/public/images/violet-bg2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.timeline-background {
  background-image: url("/public/images/timeline-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.sample-background {
  background-image: url("/public/images/gamestack/circle.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.benefits-background {
  background: url("/public/images/benefits/background.png"),
    -9.283px 0px / 101.887% 100% no-repeat;
  background-position: center;
  background-size: cover;
}

.benefits-icon {
  background-image: url("/public/images/benefits/Logo.svg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 55%;
}

.features-container {
  width: 100%; /* Use percentage for width */
  max-width: 397px; /* Set a maximum width if needed */
  height: 350px; /* Use a fixed or percentage value for height */
  max-height: 450px; /* Set a maximum height if needed */
  position: relative;
  border-radius: 30px;
  border: 1px solid rgba(175, 152, 203, 0.10);
  background: rgba(13, 13, 38, 0.10);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.6s, background-color 0.3s;
  transform-style: preserve-3d;
  justify-self: center;
}

/* Add media queries for different screen sizes */
@media (max-width: 600px) {
  .features-container {
    justify-self: center;
    width: 90%; /* Adjust width for smaller screens */
    height:350px; /* Adjust height for smaller screens */
  }
}


.features-container:hover {
  background-color: #6C23CC; /* Change background color on hover */
}

/* flip card */

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.features-container:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}



/**
  * Cube
*/
@-webkit-keyframes cube {
  0% {
    -webkit-transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
            transform: rotate(45deg) rotateX(-25deg) rotateY(25deg); }
  50% {
    -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
            transform: rotate(45deg) rotateX(-385deg) rotateY(25deg); }
  100% {
    -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
            transform: rotate(45deg) rotateX(-385deg) rotateY(385deg); } }
@keyframes cube {
  0% {
    -webkit-transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
            transform: rotate(45deg) rotateX(-25deg) rotateY(25deg); }
  50% {
    -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
            transform: rotate(45deg) rotateX(-385deg) rotateY(25deg); }
  100% {
    -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
            transform: rotate(45deg) rotateX(-385deg) rotateY(385deg); } }

.cube {
  -webkit-animation: cube 2s infinite ease;
          animation: cube 2s infinite ease;
  height: 40px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 40px; }
  .cube div {
    background-color: rgba(255, 255, 255, 0.25);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2px solid white; }
    .cube div:nth-of-type(1) {
      -webkit-transform: translateZ(-20px) rotateY(180deg);
              transform: translateZ(-20px) rotateY(180deg); }
    .cube div:nth-of-type(2) {
      -webkit-transform: rotateY(-270deg) translateX(50%);
              transform: rotateY(-270deg) translateX(50%);
      -webkit-transform-origin: top right;
              transform-origin: top right; }
    .cube div:nth-of-type(3) {
      -webkit-transform: rotateY(270deg) translateX(-50%);
              transform: rotateY(270deg) translateX(-50%);
      -webkit-transform-origin: center left;
              transform-origin: center left; }
    .cube div:nth-of-type(4) {
      -webkit-transform: rotateX(90deg) translateY(-50%);
              transform: rotateX(90deg) translateY(-50%);
      -webkit-transform-origin: top center;
              transform-origin: top center; }
    .cube div:nth-of-type(5) {
      -webkit-transform: rotateX(-90deg) translateY(50%);
              transform: rotateX(-90deg) translateY(50%);
      -webkit-transform-origin: bottom center;
              transform-origin: bottom center; }
    .cube div:nth-of-type(6) {
      -webkit-transform: translateZ(20px);
              transform: translateZ(20px); }

/* cards stack */

:root {
  --cards: 3;
  --cardHeight: 87vh;
  --cardTopPadding: 1.5em;
  --cardMargin: 4vw;
}

.container {
  width: 90%;
  margin: 0 auto;
}

#cards {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;

  gap: var(--cardMargin);
  padding-bottom: calc(var(--cards) * var(--cardTopPadding));
  margin-bottom: var(--cardMargin);
}

#card1{
  --index: 1;
  
}
#card2{
  --index: 2;
}

#card3{
  --index: 3;
}

.card {
  position: sticky;
  top: 0;
  padding-top: calc(var(--index) * var(--cardTopPadding));
}



.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  height: 339px;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
 
}

