@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-border {
  display: block;
  border: none;
  color: white;
  height: 1px;
  background: black;
  background: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    550,
    from(#615076),
    to(#01031300)
  );
}

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: white;

  /* Create the gradient. */
  background-image: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    550,
    from(#ffffff),
    to(#615076)
  );

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -moz-text-fill-color: transparent;
}

.gradient-text-2 {
  background: rgb(175,152,203);
  background: linear-gradient(90deg, rgba(175,152,203,1) 0%, rgba(255,255,255,1) 50%, rgba(175,152,203,1) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.hero-background {
  background-image: url("/public/images/background-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 50%;
    
}


.violet-background {
  background-image: url("/public/images/violet-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sample-background {
  background-image: url("/public/images/gamestack/circle.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.benefits-background {
  background: url("/public/images/benefits/background.png"),
    -9.283px 0px / 101.887% 100% no-repeat;
  background-position: center;
  background-size: cover;
}

.benefits-icon {
  background-image: url("/public/images/benefits/Logo.svg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 55%;
}

.features-container {
  border-radius: 30px;
border: 1px solid rgba(175, 152, 203, 0.10);
background: rgba(13, 13, 38, 0.10);
}


.gauge-container {
  width: 160px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  text-align: center;
  transform: translate(-50%, -50%);
}

.gauge-bg {
  z-index: 1;
  position: absolute;
  background-color: #ccc;
  width: 160px;
  height: 100px;
  top: 0%;
  border-radius: 80px 80px 0px 0px;
}

.gauge-cover {
  z-index: 3;
  position: absolute;
  background-color: #fff;
  width: 140px;
  height: 80px;
  top: 10px;
  margin-left: 10px;
  margin-right: auto;
  border-radius: 80px 80px 0px 0px;
}

.gauge-level {
  z-index: 2;
  position: absolute;
  width: 160px;
  height: 80px;
  top: 80px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px 0px 100px 100px;
}

.gaugeLevel-appear, .gaugeLevel1-appear, .gaugeLevel2-appear, .gaugeLevel3-appear, .gaugeLevel4-appear, .gaugeLevel5-appear, .gaugeLevel6-appear, .gaugeLevel7-appear, .gaugeLevel8-appear, .gaugeLevel9-appear, .gaugeLevel10-appear {
  transform: rotate(0);
  transform-origin: center top;
}
.gaugeLevel-appear.gaugeLevel-appear-active, .gaugeLevel1-appear.gaugeLevel1-appear-active, .gaugeLevel2-appear.gaugeLevel2-appear-active, .gaugeLevel3-appear.gaugeLevel3-appear-active, .gaugeLevel4-appear.gaugeLevel4-appear-active, .gaugeLevel5-appear.gaugeLevel5-appear-active, .gaugeLevel6-appear.gaugeLevel6-appear-active, .gaugeLevel7-appear.gaugeLevel7-appear-active, .gaugeLevel8-appear.gaugeLevel8-appear-active, .gaugeLevel9-appear.gaugeLevel9-appear-active, .gaugeLevel10-appear.gaugeLevel10-appear-active {
  transition: transform 1.4s ease;
}

.gaugeLevel-appear.gaugeLevel-appear-active {
  transform: rotate(0);
}
.gaugeLevel1-appear.gaugeLevel1-appear-active {
  transform: rotate(.05turn);
}
.gaugeLevel2-appear.gaugeLevel2-appear-active {
  transform: rotate(.1turn);
}
.gaugeLevel3-appear.gaugeLevel3-appear-active {
  transform: rotate(.15turn);
}
.gaugeLevel4-appear.gaugeLevel4-appear-active {
  transform: rotate(.2turn);
}
.gaugeLevel5-appear.gaugeLevel5-appear-active {
  transform: rotate(.25turn);
}
.gaugeLevel6-appear.gaugeLevel6-appear-active {
  transform: rotate(.3turn);
}
.gaugeLevel7-appear.gaugeLevel7-appear-active {
  transform: rotate(.35turn);
}
.gaugeLevel8-appear.gaugeLevel8-appear-active {
  transform: rotate(.4turn);
}
.gaugeLevel9-appear.gaugeLevel9-appear-active {
  transform: rotate(.45turn);
}
.gaugeLevel10-appear.gaugeLevel10-appear-active {
  transform: rotate(.5turn);
}

.gauge-data {
  z-index: 4;
  color: #444;
  font-size: 3.4em;
  line-height: 25px;
  position: absolute;
  width: 160px;
  height: 80px;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  transition: all 1s ease-out;
}
/**
  * Cube
  *
  * @author jh3y - jheytompkins.com
*/
@-webkit-keyframes cube {
  0% {
    -webkit-transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
            transform: rotate(45deg) rotateX(-25deg) rotateY(25deg); }
  50% {
    -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
            transform: rotate(45deg) rotateX(-385deg) rotateY(25deg); }
  100% {
    -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
            transform: rotate(45deg) rotateX(-385deg) rotateY(385deg); } }
@keyframes cube {
  0% {
    -webkit-transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
            transform: rotate(45deg) rotateX(-25deg) rotateY(25deg); }
  50% {
    -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
            transform: rotate(45deg) rotateX(-385deg) rotateY(25deg); }
  100% {
    -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
            transform: rotate(45deg) rotateX(-385deg) rotateY(385deg); } }

.cube {
  -webkit-animation: cube 2s infinite ease;
          animation: cube 2s infinite ease;
  height: 40px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 40px; }
  .cube div {
    background-color: rgba(255, 255, 255, 0.25);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2px solid white; }
    .cube div:nth-of-type(1) {
      -webkit-transform: translateZ(-20px) rotateY(180deg);
              transform: translateZ(-20px) rotateY(180deg); }
    .cube div:nth-of-type(2) {
      -webkit-transform: rotateY(-270deg) translateX(50%);
              transform: rotateY(-270deg) translateX(50%);
      -webkit-transform-origin: top right;
              transform-origin: top right; }
    .cube div:nth-of-type(3) {
      -webkit-transform: rotateY(270deg) translateX(-50%);
              transform: rotateY(270deg) translateX(-50%);
      -webkit-transform-origin: center left;
              transform-origin: center left; }
    .cube div:nth-of-type(4) {
      -webkit-transform: rotateX(90deg) translateY(-50%);
              transform: rotateX(90deg) translateY(-50%);
      -webkit-transform-origin: top center;
              transform-origin: top center; }
    .cube div:nth-of-type(5) {
      -webkit-transform: rotateX(-90deg) translateY(50%);
              transform: rotateX(-90deg) translateY(50%);
      -webkit-transform-origin: bottom center;
              transform-origin: bottom center; }
    .cube div:nth-of-type(6) {
      -webkit-transform: translateZ(20px);
              transform: translateZ(20px); }

